
<div class="isolate dark:bg-gray-800 px-6  py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Quase lá!</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600 dark:text-gray-400">Só precisamos de um nome, o resto fica por sua conta para personalizar seu perfil.</p>
    </div>

    <form [formGroup]="FormCad" (ngSubmit)="onSubmit()" class="mx-auto mt-16 max-w-xl sm:mt-20">
      <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
        <div class="sm:col-span-2">
          <label for="username" class="block text-sm font-semibold leading-6">Nome de usuário *</label>
          <div class="mt-2.5">
            <input type="text" name="username" id="username" formControlName="username" autocomplete="username" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="company" class="block text-sm font-semibold leading-6">Empresa / Escola</label>
          <div class="mt-2.5">
            <input type="text" name="company" id="company" formControlName="company" autocomplete="organization" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="country" class="block text-sm font-semibold leading-6">País</label>
          <div class="mt-2.5">
            <input type="country" name="country" id="country" formControlName="country" autocomplete="country" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="col-span-full">
          <label for="photo" class="block text-sm font-semibold leading-6">Foto do perfil</label>
          <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-400 px-6 py-10">
            <div class="text-center">
              <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
              </svg>
              <div class="mt-4 flex text-sm leading-6 text-gray-600">
                <label for="file-upload" class="relative cursor-pointer rounded-md font-semibold text-blue-700 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                  <span>Envie um arquivo</span>
                  <input id="file-upload" name="file-upload" type="file" formControlName="photo" (change)="uploadFile($event)" class="sr-only">
                </label>
                <p class="pl-1 dark:text-gray-400">ou arraste e solte</p>
              </div>
              <p class="text-xs leading-5 text-gray-600 dark:text-gray-400">PNG, JPG e JPEG até 10MB</p>
            </div>
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="phone-number" class="block text-sm font-semibold leading-6">Número de telefone</label>
          <div class="mt-2.5">
            <input type="tel" name="phone-number" id="phone-number" formControlName="phone" autocomplete="tel" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="message" class="block text-sm font-semibold leading-6">Sobre mim</label>
          <div class="mt-2.5">
            <textarea name="message" id="message" formControlName="bio" rows="4" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
          </div>
        </div>

        <div class="flex gap-x-4 sm:col-span-2">
          <div class="flex h-6 items-center">
            <!-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->
          <label class="relative inline-flex items-center cursor-pointer">
            <input type="checkbox" value="" formControlName="terms" class="sr-only peer">
            <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
          </label>

          </div>
          <label class="text-sm leading-6 text-gray-600 dark:text-gray-400" id="switch-1-label">
            Marcando essa opção, você concorda com a nossa
            <a href="policy" class="font-semibold text-blue-700">Política&nbsp;de Privacidade</a>.
          </label>
        </div>

      </div>
      <div class="mt-10">
        <button type="submit" class="block w-full rounded-md bg-blue-700 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-blue-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Concluir cadastro</button>
      </div>
    </form>
  </div>
