.tag {
  display: inline-block;
  padding: 4px 8px;
  padding-right: 2px;
  background-color:#007bff; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  border-radius: 4px; /* Arredondamento das bordas */
  font-size: 14px; /* Tamanho da fonte */
}
