<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 dark:bg-gray-800">
  <!--
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
  </div>
  -->

  <div class="mt-40 mb-40 sm:mx-auto sm:w-full sm:max-w-sm text-gray-900 dark:text-white">
    <form class="space-y-6" [formGroup]="FormLogin" (ngSubmit)="onSubmit()">
      <div>
        <label for="email" class="block text-sm font-medium leading-6">Email</label>

        <div class="mt-2">
          <input matInput id="email" type="email" formControlName="email" autocomplete="email" required class="block w-full p-2 dark:bg-gray-900 rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium leading-6">Senha</label>
          <div class="text-sm">
            <a routerLink="/recovery-password" class="font-semibold text-blue-700 hover:text-blue-800">Esqueceu a senha?</a>
          </div>
        </div>
        <div class="mt-2">
          <input matInput id="password" formControlName="password" type="password" autocomplete="current-password" required class="block w-full p-2 dark:bg-gray-900 rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-gray-800 focus:ring-2 focus:ring-inset focus:outline-none focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div>
        <button [disabled]="!FormLogin.valid" type="submit" [style.opacity]="FormLogin.valid ? '1' : '0.6'"  class="flex w-full justify-center rounded-md bg-blue-700 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Login</button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Não tem conta?
      <a routerLink="/sign-up" class="font-semibold leading-6 text-blue-700 hover:text-blue-800">Crie uma agora</a>
    </p>
  </div>
</div>
