<main class="grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8 border-gray-200 dark:border-gray-600 bg-white dark:bg-gray-800">
  <div class="text-center">
    <p class="text-9xl font-semibold text-red-700">404</p>
    <h1 class="mt-4 text-3xl font-bold tracking-tight sm:text-5xl text-gray-900 dark:text-white">Página não encontrada</h1>
    <p class="mt-6 text-base leading-7 text-red-500">Ops, algo deu errado. Verifique se o link está correto ou volte para a página principal.</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a routerLink="" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Voltar para o início</a>
      <a routerLink="/support" class="text-sm font-semibold text-gray-900 dark:text-white">Contate o suporte<span aria-hidden="true">&rarr;</span></a>
    </div>
  </div>
</main>
