<header class="bg-white">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a routerLink="" class="-m-1.5 p-1.5">
        <div>
          <span class="sr-only">LearnHub</span>
          <!-- <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">-->
          <div class="text-2xl font-semibold leading-6 text-gray-900">LearnHub</div>
        </div>
      </a>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a routerLink="features" class="text-sm font-semibold leading-6 text-gray-900">Recursos</a>
      <a routerLink="a" class="text-sm font-semibold leading-6 text-gray-900">Comunidades</a>
      <a routerLink="b" class="text-sm font-semibold leading-6 text-gray-900">Empresa</a>
    </div>

    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a routerLink="sign-in" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Login</a>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
