<header class="bg-black">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a routerLink="" class="-m-1.5 p-1.5">
        <div>
          <span class="sr-only">LearnHub</span>
          <img class="h-8 w-auto absolute h-center left-0" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
        </div>
        <div class="text-2xl font-semibold leading-6 text-gray-900 absolute inset-y-0 right-0 w-16 ...">LearnHub</div>
      </a>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a routerLink="features" class="text-sm font-semibold leading-6 text-gray-900">Features</a>
      <a routerLink="a" class="text-sm font-semibold leading-6 text-gray-900">Marketplace</a>
      <a routerLink="b" class="text-sm font-semibold leading-6 text-gray-900">Company</a>
    </div>

    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a routerLink="sign-in" class="text-sm font-semibold leading-6 text-gray-900">Sign In</a>
      <a routerLink="sign-up" class="text-sm font-semibold leading-6 text-gray-900">Sign Up</a>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
