<form [formGroup]="FormProfile" class="pt-20 pl-10 col-span-full">
  <div class="">
      <div class="mt-2 flex items-center gap-x-3">
      <img class="w-40 h-40 rounded-full" [src]="user?.photo" alt="user photo">
    </div>
    <button type="button" class="rounded-md flex justify-center items-center bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Change</button>
  </div>

  <h2 class="mt-4 text-3xl font-bold tracking-tight sm:text-3xl text-gray-900 dark:text-white">{{user?.username}}</h2>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
    <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
  </div>
</form>
