<form [formGroup]="FormProfile" class="pt-20 pl-10 col-span-full">
  <div class="flex h-screen">
    <!-- 1/3 do espaço para o perfil -->
    <div class="w-1/3 p-4">
      <div class="">
        <div class="mt-2 flex items-center gap-x-3">
        <img class="w-40 h-40 rounded-full" [src]="user?.photo" alt="user photo">
      </div>
    </div>

    <h2 class="mt-4 text-3xl font-bold tracking-tight sm:text-3xl text-gray-900 dark:text-white">{{user?.username}}</h2>
      <ng-container *ngIf="user?.private">
        Este perfil é privado!
      </ng-container>

      <ng-container *ngIf="!user?.private">

      </ng-container>
    </div>
    <!-- 2/3 do espaço para os posts -->
    <div class="w-2/3 bg-white p-4">
      <h1 class="text-2xl">Postagens</h1>

      <div class="pt-20 pb-12 dark:bg-gray-800">
        <ng-container *ngIf="posts$">
          <div *ngFor="let post of posts$ | async" class="w-3/5 p-2 mx-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ">
            <p class="text-gray-500 dark:text-gray-400 text-sm">Enviado por <a class="hover:underline" (click)="goToUser(post.user)">u/{{ post.user }}</a>
              {{ formatTimeAgo(post.post_date) }}
              <ng-container *ngIf="post.post_date.toDate().getTime() != post.edit_date.toDate().getTime()">
                (editado {{ formatTimeAgo(post.edit_date) }})
              </ng-container>
            </p>

            <h2 class="text-xl py-4">{{ post.title }}</h2>

            <label for="" class="break-words">{{ post.content }}</label>

            <div class="mt-2">
              <div *ngFor="let tag of post.tags" class="inline-block px-2 py-1 bg-blue-500 text-white rounded-lg text-sm mr-1">
                <p class="">{{ tag }}</p>
              </div>
            </div>

            <!-- Botões de Comentar e Votar -->
            <div class="mt-4 flex items-center text-black dark:text-white dark:hover:text-gray-400 hover:text-gray-700">
              <button class="flex items-center text-gray-900 hover:text-gray-700 dark:text-white dark:hover:text-gray-300 mr-4">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                  <path d="M12.687 14.408a3.01 3.01 0 0 1-1.533.821l-3.566.713a3 3 0 0 1-3.53-3.53l.713-3.566a3.01 3.01 0 0 1 .821-1.533L10.905 2H2.167A2.169 2.169 0 0 0 0 4.167v11.666A2.169 2.169 0 0 0 2.167 18h11.666A2.169 2.169 0 0 0 16 15.833V11.1l-3.313 3.308Zm5.53-9.065.546-.546a2.518 2.518 0 0 0 0-3.56 2.576 2.576 0 0 0-3.559 0l-.547.547 3.56 3.56Z"/>
                  <path d="M13.243 3.2 7.359 9.081a.5.5 0 0 0-.136.256L6.51 12.9a.5.5 0 0 0 .59.59l3.566-.713a.5.5 0 0 0 .255-.136L16.8 6.757 13.243 3.2Z"/>
                </svg>
                Comentar
              </button>
            </div>

            <div class="pb-4"></div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="pb-20">

  </div>
</form>
